* {
    margin: 0;
    padding: 0;

    /* Palette from LoSpec and PolyRoly */
    /* https://lospec.com/palette-list/frappe-four */
    --palette-lgt-brwn: #ffedbd;
    --palette-sft-brwn: #be9569;
    --palette-mid-brwn: #7d3d15;
    --palette-drk-brwn: #3d1606;

    --nav-and-content-width: 600px;
}

body {
    background: url("./doug-greenman-aPgKh5M8CIs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -114px;
}

header {
    padding-top: 64px;
    padding-bottom: 32px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 64px;
    width: var(--nav-and-content-width);
    margin: 0 auto;
}

nav button {
    background-color: var(--palette-drk-brwn);
    color: var(--palette-lgt-brwn);
    padding: 8px 16px;
    border-style: none;;
    border-radius: 20%;
}

#content {
    background-color: var(--palette-lgt-brwn);
    color: var(--palette-drk-brwn);
    text-align: center;
    width: var(--nav-and-content-width);
    border: 8px dotted var(--palette-drk-brwn);
    border-radius: 64px;
    margin: 0 auto;
    padding: 32px 16px;
}

#content div {
    margin: 16px;
}

#content span {
    margin: 8px;
}

.quote {
    color: var(--palette-mid-brwn);
}

.bus-name {
    font-size: 2rem;
}

.quote {
    font-size: 1.45em;
}

.contact-info span {
    display: block;
    font-size: 1.2em;
}

.icon .coffee{
    width: 32px;
}